* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    color: black;
    scroll-behavior: smooth;
}

h1, p, header {
    margin: 0; 
}

.footer {
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    position: fixed; 
    width: 100%; 
    bottom: 0; 
    z-index: 1000; 
}

.footer p {
    margin: 0; 
}

#home {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 100px 0;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}



.video-background {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}


#about {
    background-image: url('/images/meter.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 100x 0;
    color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}

.section {
    margin: 0; 
    padding: 0;
    min-height: 100vh;
    border-bottom: 1px solid #000000;
    text-align: center;
}

.container {
    width: 80%;
    padding-top: 10px;
    text-align: center; 
    position: relative;
    top: -300px; 
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
